###############################################################################
# About this file
###############################################################################

# This file overrides various defaults defined in both
# ansible/playbooks/roles/common/defaults/main/chef.yml and in the chef
# attribute files found in chef/cookbooks/bcpc/attributes.
#
# Below is a sample file for your convenience.

chef_environment:
  name: cluster_name
  description: cluster_name_description
  json_class: Chef::Environment
  chef_type: environment
  override_attributes:
    bcpc:
      apache2:
        status:
          enabled: true
      calico:
        repo:
          url: http://some_calico_repo
          key: http://some_calico_repo_key
      cinder:
        backend_native_threads_pool_size: 20
        ceph:
          pool:
            size: 2
        alternate_backends:
          enabled: true
          backends:
            - name: lightos
              enabled: true
              properties:
                lightos_api_address:
                  - 10.10.13.26
                  - 10.10.13.25
                  - 10.10.12.27
                  - 10.10.13.24
                lightos_api_port: 443
                lightos_default_compression: true
                lightos_default_num_replicas: 3
                lightos_skip_ssl_verify: true
              volume_driver: cinder.volume.drivers.lightos.LightOSVolumeDriver
            - name: lvmdriver
              enabled: true
              properties:
                image_volume_cache_enabled: True
                volume_clear: zero
                lvm_type: auto
                target_prefix: iqn.2010-10.org.openstack
                target_port: 3260
                target_protocol: iscsi
                target_helper: lioadm
                volume_group: stack-volumes-lvmdriver
              volume_driver: cinder.volume.drivers.lvm.LVMVolumeDriver
        qos:
          enabled: true
          volume_types:
            - name: ceph
              limits:
                # for fixed iops per volume
                read_iops_sec: 2000
                write_iops_sec: 1000
                # for burst iops per volume
                read_iops_sec_max: 4000
                write_iops_sec_max: 2000
                # for fixed bandwidth per volume
                read_bytes_sec: 1000000000
                write_bytes_sec: 500000000
                # for burst bandwidth per volume
                read_bytes_sec_max: 2000000000
                write_bytes_sec_max: 1000000000
                # for burst bucket size:
                size_iops_sec: 4096
      cloud:
        domain: "{{ cloud_domain }}"
        fqdn: "{{ cloud_fqdn }}"
        vip: "{{ cloud_ip }}"
      dns: "{{ dns }}"
      haproxy:
        qos:
          enabled: true
          exemptions:
            - 8.8.8.8/31
          slo_url: https://my_slo
      glance:
        ceph:
          pool:
            size: 2
      heat:
        enabled: true
